@import "scss/bootstrap";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.grey-line {
  background-color: #8c8c8c;
  height: 7px;
  position: relative;
  z-index: 50;
}
.icons-container {
  margin-top: 6rem;
  .icon {
    transition: color 2s ease-in-out;
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 1.5rem;
    box-shadow: 0px 2px 3px #888888;
    border-radius: 3px;
    &:hover {
      background-color: #cccccc;
    }
    a {
      text-decoration: none;
      color: #404040;
    }
  }
}
.image-container {
  position: relative;
  .shadow{
    transform: rotate(8deg) skewX(5deg) skewY(-11deg);
    position: absolute;
    top: -11px;
    left: -15px;
    right: 13px;
    bottom: -7px;
    background: #a70e06;
    z-index: 0;
  }
  .shadow-clearence {
    transform: rotate(8deg) skewX(8deg) skewY(-11deg) translateY(-19px) translateX(27px);
    position: absolute;
    top: -11px;
    left: -15px;
    right: 13px;
    bottom: 0px;
    background: white;
    z-index: 1;
  }
  .image {
    border-top-right-radius: 20px;
    position: relative;
    z-index: 100;
  }
}
